<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Note App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>📓 Welcome to Note App</h1>
      <p class="description">A simple app to write and manage your notes.</p>
      <a href="/notes" class="main-btn">Go to Notes</a>
    </div>
  </body>
</html>
