.App {
  text-align: center;
  font-family: sans-serif;
}

.search-bar {
  margin: 20px;
}

.search-bar input {
  padding: 10px;
  width: 60%;
  max-width: 300px;
}

.search-bar button {
  padding: 10px 15px;
  margin-left: 10px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  width: 250px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}

.recipe-card img {
  width: 100%;
}

.recipe-card h3 {
  margin: 10px;
}

.recipe-card a {
  display: block;
  margin: 10px;
  color: #3498db;
  text-decoration: none;
}
